<br>
<h1 class="text-center">Looking inside <strong><%= current_user.username %>'s box</strong>&hellip; You have <%= @messages.count %> Messages</h1>
<div class="row text-center">
  <%= image_tag("chatterbox_med_inverted.png", :alt => "Chatterbox Mark", :class => "logo logo-main") %>
</div>

<% if @messages.empty? %>
  <div class="alert alert-danger">No messages</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    Inbox Messages
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="padding: 10px;">Sender</th>
        <th style="padding: 10px;">Subject</th>
        <th style="padding: 10px;">Received:</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td style="padding: 10px;"><%= message.sender.username %></td>
          <td style="padding: 10px;"><%= message.subject %></td>
          <td style="padding: 10px;"><%= message.created_at.strftime("%-m/%d/%Y at %l:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render 'shared/actions' %>
