<br>
<h1 class="text-center">Looking inside <strong><%= current_user.username %>'s box</strong>&hellip; You have <%= @messages.count %> Messages</h1>
<div class="row text-center">
  <%= image_tag("chatterbox_med_inverted.png", :alt => "Chatterbox Mark", :class => "logo logo-main") %>
</div>

<% if @messages.empty? %>
  <div class="alert alert-danger">No messages</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    Inbox Messages
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Sender:</th>
        <th>Subject:</th>
        <th>Action:</th>
        <th>Received:</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.sender.username %></td>
          <% unless message.read_at %>
            <td><strong><%= message.subject %></strong></td>
            <td><%= link_to "View", message, class: "btn btn-primary" %></td>
          <% else %>
            <td><%= message.subject %></td>
            <td><%= link_to "View", message, class: "btn btn-default" %></td>
          <% end %>
          <td><%= message.created_at.strftime("%-m/%d/%Y at %l:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<p class="text-right"><%= link_to "Checkout Sent Messages", sent_messages_path, class: 'btn btn-default btn-sm' %></p>

<%= render 'shared/actions' %>
